<!--<div class="center jumbotron">-->
<!DOCTYPE html>
<html>
  <body>
    <div class="font_type">
      <div class="middle">
        <%= image_tag "partly_cloudly.png", :size => "120x100" %> <span class="temp"><%= @current_weather.temperature %> °F</span>
        <div class="summary"> <%= @current_weather.summary %></div>
        <div class="container1">
          Wind:
          <%= @current_weather.windSpeed %> mph

          <span class="pressure">
              Pressure:
            <%= @current_weather.pressure %> mb
            </span>

          <span class="humidity">
              Humidity:
            <%= @current_weather.humidity * 100 %> %
            </span>

          <span class="visibility">
              Visibility:
            <%= @current_weather.visibility %> km
            </span>
        </div>
        <hr>
      </div>
    </div>
  </body>
</html>