<!DOCTYPE html>
<html>

<script>
    function myFunction(number) {
        var detail_no = [1, 2, 3, 4, 5, 6, 7];
        var i;

        var x = document.getElementById(`detail${number}`);
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        // else {
        //     x.style.display = "none";
        // }

        for (i = 1; i <= detail_no.length; i++) {
            if (i === number) {
                var btn = document.getElementById(`btn${i}`);
                btn.style.color = "blue";
                continue;
            }
            else {
                var btn = document.getElementById(`btn${i}`);
                btn.style.color = "black";
                var y = document.getElementById(`detail${i}`);
                y.style.display = "none";
            }

        }

    }
</script>
<body>


<table>
  <tr>
    <% b = 1 %>
    <% @daily_weather.each do |day| %>
      <td id="btn<%= b %>" class="pointer" onclick="myFunction(<%= b %>)">
        <span class="date"> <%= Time.at(day.time).strftime('%A') %> </span><br>
        <span class="day"> <%= Time.at(day.time).strftime('%D') %> </span>
      </td>
      <% b = b + 1 %>
    <% end %>
  </tr>
</table>

<br>

<% a = 1 %>
<% @daily_weather.each do |day| %>
  <p id="detail<%= a %>"
    <% if Time.at(day.time).strftime('%A') == Time.now.strftime('%A') %>
      style="display: block"
    <% else %>
      style="display: none"
    <% end %>
  >
    <%= day.summary %><br>
    High: <%= day.apparentTemperatureMax %> | Low: <%= day.apparentTemperatureMin %><br>
    Windspeed: <%= day.windSpeed %> <%= day.icon %><br>
  </p>

  <% a = a + 1 %>
<% end %>

<br>
<!--<%#= Time.at(@day.time).strftime('%A') %><br>-->

<!--<p class="pointer" onclick='document.getElementById("demo").innerHTML = "Hello JavaScript!"'>Click Me!</p>-->
<!--<p id="demo">JavaScript can change HTML content.</p>-->

</body>
</html>
